<div class="food-page-section">
  <div class="wrap-food-recipe">
    <div class="heading-page">
      {{title}} 
      <div class="back-btn">
        <div class="icon-back" backButton><i class="fas fa-chevron-left"></i></div>
      </div>
    </div>
    <div class="image-favourite">
      <div id="food-recipe-image" class="pg-product-image">
        <!-- image -->
        <div>
          <div class="pgp-wrap-img">
            <div class="pgp-wrap-img-in">
              <div class="pgp-img">
                <img [src]="'assets/img/'+image" alt="1st image">
              </div>
            </div>
          </div>
        </div>
        <!-- end image -->
      </div>
      <div class="add-favourite">
        <div class="awl-btn">
          <div class="awl-btn-icon">
            <i class="fas fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-description">
      <div class="rd-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">Description</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class=" tab-pane active">
            <div class="tab-detail-rcp">
              <div class="recp-detail"> {{description}}</div>
              <div class="recp-ingredients">
                <div class="recp-heading">Ingredients</div>
                <ul class="list" *ngIf="ingredients">
                  <li *ngFor="let in of ingredients">{{in}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>