<div class="food-page-section">
  <div class="wrap-food-recipe">
    <div class="heading-page">
      Chicken Rice
      <div class="back-btn">
        <div class="icon-back" backButton><i class="fas fa-chevron-left"></i></div>
      </div>
    </div>
    <div class="image-favourite">
      <div id="food-recipe-image" class="pg-product-image">
        <!-- image -->
        <div>
          <div class="pgp-wrap-img">
            <div class="pgp-wrap-img-in">
              <div class="pgp-img">
                <img src="img/food1.jpg" alt="1st image">
              </div>
            </div>
          </div>
        </div>
        <!-- end image -->
        <!-- image -->
        <div>
          <div class="pgp-wrap-img">
            <div class="pgp-wrap-img-in">
              <div class="pgp-img">
                <img src="img/food1.jpg" alt="2nd image">
              </div>
            </div>
          </div>
        </div>
        <!-- end image -->
      </div>
      <div class="add-favourite">
        <div class="awl-btn">
          <div class="awl-btn-icon">
            <i class="fas fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-description">
      <div class="rd-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2">Comments (3)</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class=" tab-pane active">
            <div class="tab-detail-rcp">
              <div class="recp-detail">  Chicken rice menu that is easy and simple to make </div>
              <div class="recp-detail">
                <div class="recp-heading">Detail</div>
                <ul class="list">
                  <li>Prep Time: 15M</li>
                  <li>Cook Time: 3H</li>
                  <li>Total Time: 3H15M</li>
                  <li>Total Calorie: 140 cals</li>
                  <li>serving: 10</li>
                </ul>
              </div>
              <div class="recp-ingredients">
                <div class="recp-heading">Ingredients</div>
                <ul class="list">
                  <li>10 skinless, boneless chicken breast halves</li>
                  <li>1 teaspoon fresh lemon juice</li>
                  <li>Salt and pepper to taste</li>
                  <li>1/8 teaspoon celery salt</li>
                  <li>1 teaspoon paprika</li>
                  <li>1/3 cup dry sherry</li>
                  <li>1/4 cup grated parmesan cheese</li>
                </ul>
              </div>
              <div class="recp-directions">
                <div class="recp-heading">Directions</div>
                <ul class="list list-number">
                  <li>Make the Chile Sauce: Combine all the ingredients in a bowl, mix well, and season with salt, to taste. Set aside </li>
                  <li>Make the Chicken and Rice: Bring a large pot of salted water to a boil (enough water to immerse the chicken). Add the chicken to the boiling water. Lower the heat to a simmer just under boiling point and cook, covered, until just cooked through, about 40 minutes. </li>
                  <li>Heat the oil in a wok or saucepan over high heat. Add the garlic and stir-fry until fragrant. Add the rice and stir-fry for 1 to 2 minutes.</li>
                  <li>Whisk 1/4 cup of the hot chicken stock into the chile sauce. </li>
                  <li>Arrange the rice and poached chicken on a platter.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>