<div class="content-wrap">
    <div class="img-hero">
      <div>
        <img src="assets/img/slide4.jpg" alt="slider">
      </div>
    </div>
    <app-category [categoriesList]="categories"> </app-category>
    <div class="section-home home-banner">
      <img src="assets/img/banner.jpg">
    </div>
    <div class="section-home home-news">
      <div class="heading-section">
        <div class="sa-title popcat">News & Tips</div>
        <div class="clear"></div>
      </div>
      <div class="home-news-wrap">
        <div class="news-item">
          <div class="news-content">
            <div class="hnw-img">
              <img src="assets/img/news.jpg" alt="news">
            </div>
            <div class="hnw-desc">
              <div class="hnw-title">15 Totally Healthy Grilling Recipes</div>
              <div class="hnw-text">
                Lorem ipsum dolor sit amet, adipiscing elit... <a href="news.html" class="more">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-content">
            <div class="hnw-img">
              <img src="assets/img/news2.jpg" alt="news">
            </div>
            <div class="hnw-desc">
              <div class="hnw-title">Foods That Are Super Healthy</div>
              <div class="hnw-text">
                dolor sit amet, Lorem ipsum adipiscing elit... <a href="news.html" class="more">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-content">
            <div class="hnw-img">
              <img src="assets/img/news3.jpg" alt="news">
            </div>
            <div class="hnw-desc">
              <div class="hnw-title">17 Authentic local food in Yogyakarta</div>
              <div class="hnw-text">
                Lorem ipsum dolor adipiscing elit... <a href="news.html" class="more">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" more-category">
          <a href="news_list.html">
            <div class="theme-button mcbutton">More News</div>
          </a>
        </div>
      </div>
    </div>
  </div>