<div class="content-wrap">

  <div class="list-section">
      <div class="wrap-list-rc">
        <div class="heading-page">
          All food recipes
          <div class="back-btn">
            <div class="icon-back" backButton><i class="fas fa-chevron-left"></i></div>
            
          </div>
        </div>
        
        <div class="lrc-item">
            <div class="lrc-content" (click)="onRecipeDetails()">
              <div class="lrc-img">
                <img src="img/food5.jpg" alt="item">
              </div>
              <div class="lrc-desc">
                <div class="lrc-title">Woku Fish Belanga</div>
                <div class="lrc-text">
                  White salmon / 2 tuna, salt, lime, vegetable oil, curly red chili
                </div>
                <div class="lrc-button">
                  <div class="lrcb-left">
                    <span class="lhc like"><i class="fas fa-heart"></i> 5</span>
                    <span class="lhc hours"><i class="fas fa-clock"></i> 27m</span>
                    <span class="lhc comment"><i class="fas fa-comment-alt"></i> 0</span>
                  </div>
                  <div class="lrcb-right">
                    
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
        </div>      
      </div>
    </div>
    <!-- <div class="wrap-pagination">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href (click)="onRecipeDetails()">Previous</a></li><li class="page-item"><a class="page-link" href (click)="onRecipeDetails()">1</a></li><li class="page-item active"><a class="page-link" href (click)="onRecipeDetails()">2</a></li><li class="page-item"><a class="page-link" href (click)="onRecipeDetails()">3</a></li><li class="page-item"><a class="page-link" href (click)="onRecipeDetails()">4</a></li><li class="page-item"><a class="page-link" href (click)="onRecipeDetails()">Next</a></li>
      </ul>
    </div> -->
</div>